<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
        <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#details" type="button"
            role="tab" aria-controls="details" aria-selected="true"><i class="fa fa-info"></i> Détails</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#pm" type="button" role="tab"
            aria-controls="pm" aria-selected="false"><i class="fa fa-credit-card"></i> Methodes de paiement</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button"
            role="tab" aria-controls="settings" aria-selected="false"><i class="fa fa-gear"></i> Paramètres</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="webhook-tab" data-bs-toggle="tab" data-bs-target="#webhook" type="button"
            role="tab" aria-controls="webhook" aria-selected="false"><i class="fa fa-gear"></i> Webhook</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="percent-tab" data-bs-toggle="tab" data-bs-target="#percent" type="button"
            role="tab" aria-controls="percent" aria-selected="false"><i class="fa fa-gear"></i> Taux de frais</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="versmnt-tab" data-bs-toggle="tab" data-bs-target="#versmnt" type="button"
            role="tab" aria-controls="versmnt" aria-selected="false"><i class="fa fa-gear"></i> Verssement</button>
    </li>
    <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#logs" type="button"
            role="tab" aria-controls="logs" aria-selected="false"><i class="fa fa-file"></i>Historiques des activités</button>
    </li> -->
    <!-- <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#logs" type="button"
            role="tab" aria-controls="logs" aria-selected="false"><i class="fa fa-file"></i>Historiques des paiements</button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#logs" type="button"
            role="tab" aria-controls="logs" aria-selected="false"><i class="fa fa-file"></i>Historiques des activités</button>
    </li> -->
</ul>
<div class="tab-content py-4" id="myTabContent">
    <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab"><application-info></application-info></div>
    <div class="tab-pane fade" id="pm" role="tabpanel" aria-labelledby="pm-tab"><appplication-payment-method></appplication-payment-method></div>
    <div class="tab-pane fade" id="webhook" role="tabpanel" aria-labelledby="webhook-tab"><application-webhook></application-webhook></div>
    <div class="tab-pane fade" id="percent" role="tabpanel" aria-labelledby="percent-tab"><app-application-keys-percent></app-application-keys-percent></div>
    <div class="tab-pane fade" id="versmnt" role="tabpanel" aria-labelledby="versmnt-tab"><application-settlement></application-settlement></div>
    <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab"><application-secrets></application-secrets></div>
    <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="settings-tab">Journalisations></div>
</div>