<div class="d-flex flex-wrap">
    @for(provider of paymentsSpiList$ | async; track provider.providerId) {
        <div class="px-1 my-1 provider-item" style="cursor: pointer;" (click)="selectProvider(provider)">
        <div class="card" [ngClass]="{'border-primary': spiSelected?.providerId==provider.providerId}">
            <div class="card-body">
                {{provider.name}} <br><span class="badge bg-secondary">{{provider.providerId}}</span>
            </div>
        </div>
    </div>
    }
    <!-- <div class="px-1 my-1">
        <div class="card ">
            <div class="card-body">
                Orange Money <br> <span class="badge bg-secondary">om-ci</span>
            </div>
        </div>
    </div>
    <div class="px-1 ny-1">
        <div class="card ">
            <div class="card-body">
                Moov Africa <br> <span class="badge bg-secondary">moov-ci</span>
            </div>
        </div>
    </div>
    <div class="px-1 my-1">
        <div class="card ">
            <div class="card-body">
                Momo Money <br> <span class="badge bg-secondary">momo-ci</span>
            </div>
        </div>
    </div> -->
    
</div>


    <div *ngIf="spiSelected" class="py-3">
         <form [formGroup]="configForm" class="from">
            <div class="d-flex justify-content-between">
                            <div class="align-middle">
                                <strong class="fs-3 lead">Configuration {{ spiSelected.providerId }}</strong>

                                <!-- <span class="badge text-bg-secondary text-light ms-1">
                                    {{ providerSelected.providerType }}
                                </span> -->
                            </div>
                            <!-- <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button> -->
                        </div>
                                    <div class="form-group" class="py-2">
                            <label for="">Name</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>

                        <div class="form-group">
                            <label for="">Pays</label>
                            <select class="form-control" formControlName="countryCode">
                                <option value="" disabled selected>Choisir un pays</option>
                                <option value="CI">Cote Ivoire</option>
                                <option value="ML">MALI</option>
                                <option value="SN">Senegal</option>
                            </select>
                        </div>
                    
                        @for (conf of spiSelected.configProperties; track conf.name) {

                        @switch (conf.type) {

                        @case ('String') {
                        <div class="form-group mb-0">
                            <label for="">
                                {{ conf.label }}
                                <span *ngIf="conf.required" class="text-danger mx-1">*</span>
                                <i *ngIf="conf.helperText" class="fa-solid fa-info-circle text-primary ms-1"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    [attr.data-bs-title]="conf.helperText">
                                </i>
                            </label>
                            <input type="text" class="form-control" [class.form-control]="!conf.readOnly"
                                [class.form-control-plaintext]="conf.readOnly" [formControlName]="conf.name"
                                [readonly]="conf.readOnly" [required]="conf.required">
                        </div>
                        }

                        @case ('MultivaluedList') {

                        <div class="form-group mb-0">
                            <label class="d-block">
                                {{ conf.label }}
                                <span *ngIf="conf.required" class="text-danger mx-1">*</span>
                                <i *ngIf="conf.helperText" class="fa-solid fa-info-circle text-primary ms-1"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    [attr.data-bs-title]="conf.helperText">
                                </i>
                            </label>

                            @for (opt of conf.options; track opt) {
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" [id]="conf.name + '_' + opt"
                                    [checked]="configForm.get(conf.name)?.value?.includes(opt)"
                                    (change)="onCheckboxChange($event, conf.name, opt)" />
                                <label class="form-check-label" [for]="conf.name + '_' + opt">
                                    {{ opt }}
                                </label>
                            </div>
                            }
                        </div>
                        }

                        @case ('List') {

                        <div class="form-group mb-0">

                            <label for="">
                                {{ conf.label }}
                                <span *ngIf="conf.required" class="text-danger mx-1">*</span>
                                <i *ngIf="conf.helperText" class="fa-solid fa-info-circle text-primary ms-1"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    [attr.data-bs-title]="conf.helperText">
                                </i>
                            </label>
                            <select class="form-select" [formControlName]="conf.name" [required]="conf.required">
                                <option value="" disabled>Sélectionner un élèment</option>
                                @for (opt of conf.options; track opt) {
                                <option [value]="opt">{{ opt }}</option>
                                }
                            </select>
                        </div>
                        }

                        }

                        }


                </form>
    </div>


<!-- Modal -->
<div class="modal fade" id="paramForm" data-bs-backdrop="static" tabindex="-1" aria-labelledby="paramFormLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-body">
                <form [formGroup]="configForm" class="from">
                    <div *ngIf="configurations as config">
                        <div class="d-flex justify-content-between">
                            <div class="align-middle">
                                <strong class="fs-1">{{ config.providerId }}</strong>

                                <span class="badge text-bg-secondary text-light ms-1">
                                    {{ config.providerType }}
                                </span>
                            </div>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <hr>

                        <div class="form-group" class="mt-5">
                            <label for="">Name</label>
                            <input type="text" class="form-control" formControlName="name">
                        </div>

                        <div class="form-group">
                            <label for="">Pays</label>
                            <select class="form-control" formControlName="countryCode">
                                <option value="" disabled selected>Choisir un pays</option>
                                <option value="CI">Cote Ivoire</option>
                                <option value="ML">MALI</option>
                                <option value="SN">Senegal</option>
                            </select>
                        </div>

                        @for (conf of config?.configProperties; track conf.name) {

                        @switch (conf.type) {

                        @case ('String') {
                        <div class="form-group mb-0">
                            <label for="">
                                {{ conf.label }}
                                <span *ngIf="conf.required" class="text-danger mx-1">*</span>
                                <i *ngIf="conf.helperText" class="fa-solid fa-info-circle text-primary ms-1"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    [attr.data-bs-title]="conf.helperText">
                                </i>
                            </label>
                            <input type="text" class="form-control" [class.form-control]="!conf.readOnly"
                                [class.form-control-plaintext]="conf.readOnly" [formControlName]="conf.name"
                                [readonly]="conf.readOnly" [required]="conf.required">
                        </div>
                        }

                        @case ('MultivaluedList') {

                        <div class="form-group mb-0">
                            <label class="d-block">
                                {{ conf.label }}
                                <span *ngIf="conf.required" class="text-danger mx-1">*</span>
                                <i *ngIf="conf.helperText" class="fa-solid fa-info-circle text-primary ms-1"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    [attr.data-bs-title]="conf.helperText">
                                </i>
                            </label>

                            @for (opt of conf.options; track opt) {
                            <div class="form-check form-check-inline">
                                <input type="checkbox" class="form-check-input" [id]="conf.name + '_' + opt"
                                    [checked]="configForm.get(conf.name)?.value?.includes(opt)"
                                    (change)="onCheckboxChange($event, conf.name, opt)" />
                                <label class="form-check-label" [for]="conf.name + '_' + opt">
                                    {{ opt }}
                                </label>
                            </div>
                            }
                        </div>
                        }

                        @case ('List') {

                        <div class="form-group mb-0">

                            <label for="">
                                {{ conf.label }}
                                <span *ngIf="conf.required" class="text-danger mx-1">*</span>
                                <i *ngIf="conf.helperText" class="fa-solid fa-info-circle text-primary ms-1"
                                    data-bs-toggle="tooltip" data-bs-placement="top"
                                    [attr.data-bs-title]="conf.helperText">
                                </i>
                            </label>
                            <select class="form-select" [formControlName]="conf.name" [required]="conf.required">
                                <option value="" disabled>Sélectionner un élèment</option>
                                @for (opt of conf.options; track opt) {
                                <option [value]="opt">{{ opt }}</option>
                                }
                            </select>
                        </div>
                        }

                        }

                        }




                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
                <button (click)="save()" type="button" class="btn btn-primary">Enregistrer</button>
            </div>
        </div>
    </div>
</div>