<div>
    <h4><i class="fa fa-key"></i> Parametres d'authentification de l'application</h4>
    <div class="py-3">
        <p class="alert ">
            Ces identifiants permettent d’obtenir un Jeton d'acces' via le endpoint d’authentification. <br>
            Ils doivent être envoyés dans l’en-tête Authorization en utilisant le schéma Basic.
        </p>
        
        <div class="row py-2">
            <div class="col-md-6 ">
                <label for="">ID Application</label> <br>
                <span>{{application?.id}}</span>
            </div>
            <div class="col-md-6 key">
                <label for="">Clé API</label>
                <span class="ms-2" (click)="showKey()"><i class="fa fa-eye"></i></span>
                <!-- <small (click)="showKey()" class="show ">Afficher</small> -->
                <br>
                <!-- <input type="text" class="form-control" [value]="key" disabled> -->
                <span>{{key}}</span>

            </div>
        </div>
        <!-- <div class="py-3">
            <button class="btn btn-sm btn-primary">Générer un jeton d'accès</button>
        </div> -->
    </div>
</div>