<div class="wp-component">
    <div class="wp-component-header pb-2 border-bottom justify-content-between  align-items-end w-100">
        <div class="d-flex flex-column align-items-start">
            <small style="color: #777;">Application</small>
            <h2 class="wp-component-title"><a class="nav-link" [routerLink]="['/applications/details',application?.id]">{{application?.name}} </a></h2>
        </div>

        <div class="px-4 w-auto  d-flex justify-content-between">
            <a (click)="goToPayments()" class="btn btn-sm btn-outline-primary mx-2"><i
                    class="fa fa-sack-dollar"></i> Historique de paiements</a>
            <div class="dropdown">
                <a href="#"  class="btn btn-sm btn-secondary conf" id="dropdownMenuButton" data-bs-toggle="dropdown"><i class="fa fa-gear"></i></a>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <li (click)="goToGeneral()" class="dropdown-item"><i class="fa fa-info"></i> Details</li>
                    <li (click)="goToPaymentMethods()" class="dropdown-item"><i class="fa fa-credit-card"></i> Methodes de paiement</li>
                    <li class="dropdown-item"><i class="fa fa-key"></i> Clé API</li>
                </ul>
            </div>
        </div>
    </div>

    <nav>
        <ul class="wp-component-menu border-bottom">
           <li><a class="nav-link" [routerLink]="['/applications/details',application?.id]"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
                <i class="fa fa-home"></i> Accueil</a></li> 
           <li><a href="#" class="nav-link" [routerLink]="['/applications/details',application?.id ,'payments']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-sack-dollar"></i> Paiements</a></li> 
           <li><a class="nav-link" [routerLink]="['/applications/details',application?.id ,'transactions']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-list"></i> Transactions</a></li> 
           <li><a href="#" class="nav-link" [routerLink]="['/applications/details', application?.id, 'payment-methods']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-bank"></i> Methodes de peiements</a></li> 
           <li><a href="#" class="nav-link" [routerLink]="['/applications/details', application?.id, 'keys']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }">
            <i class="fa fa-key"></i> Clés</a></li> 
           <li><a href="#" class="nav-link" [routerLink]="['/applications/details', application?.id, 'webhook']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"> 
            <i class="fa fa-link"></i> Webhook</a></li> 
            <li><a href="#" class="nav-link" [routerLink]="['/applications/details', application?.id, 'settlement']"
                routerLinkActive="active"
                [routerLinkActiveOptions]="{ exact: true }"> 
            <i class="fa fa-link"></i> Versements</a></li> 
        </ul>
    </nav>

    <div class="wp-component-content">
        <router-outlet></router-outlet>

        <!-- <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item border" role="presentation">
                <button class="nav-link active" id="payment-history-tab" data-bs-toggle="tab"
                    data-bs-target="#payment-history" type="button" role="tab" aria-controls="payment-history"
                    aria-selected="true"><i class="fa fa-sack-dollar"></i> Historique de paiements</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="payment-history-tab" data-bs-toggle="tab"
                    data-bs-target="#payment-history" type="button" role="tab" aria-controls="payment-history"
                    aria-selected="true"><i class="fa fa-sack-dollar"></i> Historique de transactions</button>
            </li>

            <li class="nav-item" role="presentation">
                <button class="nav-link" id="home-tab" data-bs-toggle="tab" data-bs-target="#details"
                    type="button" role="tab" aria-controls="details" aria-selected="true"><i class="fa fa-info"></i>
                    Informations generele</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#pm" type="button"
                    role="tab" aria-controls="pm" aria-selected="false"><i class="fa fa-credit-card"></i> Methodes de
                    paiement</button>
            </li>
            <li class="nav-item" role="presentation">
                <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#settings" type="button"
                    role="tab" aria-controls="settings" aria-selected="false"><i class="fa fa-gear"></i>
                    Configuration</button>
            </li>
          
        </ul>
        <div class="tab-content py-4" id="myTabContent">
            <div class="tab-pane fade show active" id="details" role="tabpanel" aria-labelledby="details-tab">dhrhe
            </div>
            <div class="tab-pane fade" id="pm" role="tabpanel" aria-labelledby="pm-tab">Payment method</div>
            <div class="tab-pane fade" id="settings" role="tabpanel" aria-labelledby="settings-tab">application keys
            </div>
            <div class="tab-pane fade" id="logs" role="tabpanel" aria-labelledby="settings-tab">Journalisations></div>
        </div> -->

    </div>
</div>