<div class="wp-component">
    <div class="wp-component-header pb-2 border-bottom  align-items-end">
        <div class="d-flex flex-column align-items-start">
            <div class="">
                 <small style="color: #777;">Application</small>
                <h2  class="wp-component-title">{{application?.name}}</h2>
               
            </div>
        </div>

        <div class="px-4">
             <a (click)="goToPayments()" class="btn btn-sm btn-outline-primary mx-2"><i class="fa fa-sack-dollar"></i>Historique de paiements</a>
             <!-- <a  class="btn btn-sm btn-outline-primary mx-2"><i class="fa fa-chart-bar"></i> Statistiques</a> -->
            <a (click)="goToGeneral()" class="btn btn-sm btn-outline-primary"><i class="fa fa-info"></i> Informations génerales</a>
        </div>
    </div>

    <div class="wp-component-content">
        <router-outlet></router-outlet>
         
    </div>
</div>