<div class="wp-component">
    <div class="wp-component-header border-bottom">
        <h2 class="wp-component-title">Liste des marchands</h2>
    </div>

    <div class="wp-component-content">
        <div class="d-flex justify-content-end">
            <button [routerLink]="['/merchands/regiter']" class="btn btn-sm wp-btn btn-primary"><i
                    class="typcn typcn-plus"></i> Créer un marchand</button>
        </div>
        <nz-table class=" my-3" #basicTable [nzData]="applications">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nom du marchand</th>
                    <th>Répresentant</th>
                    <th>Adresse</th>
                    <th>Contact</th>
                    <th>Email</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @for (application of basicTable.data; track application.id) {
                <tr>
                    <td>{{application.id}}</td>
                    <th scope="row">{{application?.name}}</th>
                    <th scope="row">{{application.representativeName?.firstName}}  {{application.representativeName?.lastName}}</th>
                    <th scope="row">{{application.address?.country}} {{application.address?.city}}</th>
                    <th scope="row">{{application?.telephone}}</th>
                    <th scope="row">{{application?.email}}</th>
                    <td>
                        <a [routerLink]="['/applications',0, application.id, 'list']">Voir les applications <i class="typcn typcn-arrow-right"></i></a>
                    </td>
                </tr>
                }
        
            </tbody>
        </nz-table>

        
    </div>
</div>