<div class="wp-component">
    <div class="wp-component-header border-bottom">
        <h2 class="wp-component-title">Liste des marchands</h2>
    </div>

    <div class="wp-component-content">
        <p>Liste des comptes marchands enregistrés dans le système permettant de recevoir et gérer les paiements des clients.</p>
        <div class="d-flex justify-content-end">
            <button [routerLink]="['/merchands/regiter']" class="btn btn-sm wp-btn btn-primary"><i
                    class="typcn typcn-plus"></i> Nouveau marchand</button>
        </div>
        <nz-table class=" my-3" #basicTable [nzData]="applications">
            <thead>
                <tr>
                    <!-- <th>ID</th> -->
                    <th>Nom</th>
                    <th>Pays</th>
                    <th>Téléphone</th>
                    <th>Email</th>
                    <th>Répresentant</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @for (application of basicTable.data; track application.id) {
                <tr>
                    <!-- <td>{{application.id}}</td> -->
                    <th scope="row">{{application?.name}}</th>
                    <td>{{application.address?.country}}</td>
                    <td>{{application?.telephone}}</td>
                    <td>{{application?.email}}</td>
                    <td>{{application.representativeName?.firstName}}  {{application.representativeName?.lastName}}</td>

                    <td>
                        <a [routerLink]="['/applications',0, application.id, 'list']">Voir les applications <i class="typcn typcn-arrow-right"></i></a>
                    </td>
                </tr>
                }
        
            </tbody>
        </nz-table>

        
    </div>
</div>