<div>
     <h4><i class="fa fa-link"></i> Webhook</h4>
    <form [formGroup]="settingForm" action="" class="form">

        <div class="webhook py-4">
           
            <p>
                À chaque évolution du paiement,
                le système déclenchera une requête HTTP POST (webhook) vers l’URL configurée par l’application cliente. <br>
                Le corps de la requete est JSON.
            </p>

            <div class=" form-group col-md-5" [ngClass]="{'input-error': webhookUrl.errors && 
                (webhookUrl.touched || webhookUrl.dirty)}">
                <label for="">Adresse URL</label> <br>
                <input formControlName="webhookUrl" type="text" class="form-control">
                @if(webhookUrl.errors && webhookUrl.touched || webhookUrl.dirty) {
                    <div>
                        @if(webhookUrl.hasError('required')) {
                            <small class="text-danger">L' adresse URL du webhook  est requis.</small>
                        }
                    </div>
                }
            </div>
            
            <div *ngIf="showHmacKey" class="hmac">
                <p class="alert alert-info px-2 col-md-6 my-1">
                    <i class="fa fa-bell"></i> Veillez  copier votre clé de vérification  dès maintenant. Vous ne pourrez plus le voir par la suite!
                </p>
                <p class="alert alert-success my-1 px-2 col-md-6">
                   <span id="key"> <i class="fa fa-check"></i> {{application?.webhook?.hmacKey}}</span> &nbsp;
                    <span><i style="cursor:pointer;" (click)="copy()" class="fa fa-copy text-primary"></i></span>
                </p>
            </div>


            <div class="py-4">
                <button [disabled]="loading" (click)="save()" class="btn btn-sm btn-primary">
                    @if(!loading) {
                        Enregister 
                    }@else{
                        <span class="spinner-border" role="status"></span>
                    }
                </button>
            </div>

            
        
        </div>

    </form>
</div>