<div class="text-end">
    <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#paramForm">
        <i class="fa fa-plus"></i> Nouveau paramétre
    </button>
</div>

<div class="py-3">
    <nz-table class="table table-bordered" #basicTable [nzData]="configurations">
        <thead>
            <tr>
                <th>Code Pays</th>
                <th>Libelle</th>
                <th>Valeur</th>
                
                <th>status</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of basicTable.data; track">
                <th scope="row">{{c.countryCode}}</th>
                <td>basUrl</td>
                <td>https://www.google.com</td>
                
                <td><span class="badge bg-success">Activé</span></td>
                <td>
                    <span style="cursor: pointer;" class="text-primary"><i class="fa fa-pen"></i></span>
                    <span style="cursor: pointer;" class="text-danger ms-2"><i class="fa fa-trash"></i></span>
                </td>
            </tr>
        </tbody>
    </nz-table>
</div>

<!-- Modal -->
<div class="modal fade" id="paramForm" data-bs-backdrop="static" tabindex="-1" aria-labelledby="paramFormLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="paramFormLabel">Paramètre</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="configForm" class="from">
            <div class="form-group">
                <label for="">Pays</label>
                <select name="" id="" class="form-control" formControlNale="countryCode">
                    <option value="">Cote Ivoire</option>
                </select>
            </div>
            <div class="form-group">
                <label for="">Libelle</label>
                <input type="text" class="form-control" formControlNale="label">
            </div>
            <div class="form-group">
                <label for="">Valeur</label>
                <input type="text" class="form-control" formControlNale="value">
            </div>

            <div class="form-group">
                <label for="">Crypté la valeur</label>
                <input class="ms-3" type="checkbox" formControlNale="encrypted">
            </div>

        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fermer</button>
        <button (click)="save()" type="button" class="btn btn-primary">Enregistrer</button>
      </div>
    </div>
  </div>
</div>
