.logoSize{
    width:  26%;
    // width: 135px;
}
.dropdown-toggle::after {
  display: none;
}
/* Ouvrir le dropdown au survol */
.action-dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0;
}

/* Empêcher la flèche bootstrap */
.dropdown-toggle::after {
  display: none;
}

/* Effet visuel */
.action-dropdown button:hover {
  background-color: #f1f1f1;
}


.offcanvas {
    width: 700px !important;
}