<div>
    <form [formGroup]="settingForm" action="" class="form">

    <div class="webhook py-4">
        <h3><i class="fa fa-link"></i> Webhook</h3>
        <p>
            À chaque évolution du paiement,
            le système déclenchera une requête HTTP POST (webhook) vers l’URL configurée par l’application cliente. <br>
            Le corps de la requete est JSON.
        </p>
        <div class=" form-group col-md-5" [ngClass]="{'input-error': webhookUrl.errors && 
            (webhookUrl.touched || webhookUrl.dirty)}">
            <label for="">Adresse URL</label> <br>
            <input formControlName="webhookUrl" type="text" class="form-control">
            @if(webhookUrl.errors && webhookUrl.touched || webhookUrl.dirty) {
                <div>
                    @if(webhookUrl.hasError('required')) {
                        <small class="text-danger">L' adresse URL du webhook  est requis.</small>
                    }
                </div>
            }
        </div>

         <div class=" form-group" [ngClass]="{'input-error': webhookHmacKey.errors && 
            (webhookHmacKey.touched || webhookHmacKey.dirty)}">
            <label for="">HMAC Key</label> <br>
            <div class="d-flex">
                <div class="col-md-5">
                <input formControlName="webhookHmacKey" type="text" class="form-control"/>
            </div>
            <div class="ps-1">
                <button (click)="generateNewHmacKey()" class="btn btn-sm btn-secondary rounded"><i class="fa fa-key"></i> générer une clé</button>
            </div>
            </div>
            @if(webhookHmacKey.errors && webhookHmacKey.touched || webhookHmacKey.dirty) {
                <div>
                    @if(webhookHmacKey.hasError('required')) {
                        <small class="text-danger">Champ  est requis.</small>
                    }
                </div>
            }
        </div>
       
    </div>


    <!-- <hr class="my-4"> -->

    <div class="feesRate py-4">
        <h3><i class="fa fa-percent"></i> Taux de frais</h3>
        <p>
            Pourcentage des frais prélévés sur chaque paiement.
        </p>
        <div class=" form-group col-md-5" [ngClass]="{'input-error': rate.errors && 
            (rate.touched || rate.dirty)}">
            <label for="">Taux</label> <br>
            <input formControlName="rate" type="text" class="form-control col-md-3">
            @if(rate.errors && rate.touched || rate.dirty) {
                <div>
                    @if(rate.hasError('required')) {
                        <small class="text-danger">Le taux est obligatoire</small>
                    }
                </div>
            }
        </div>
        <!-- <div>
            <button  class="btn btn-sm btn-primary">
                @if(!loading) {
                    Modifier le taux
                }@else{
                    <span class="spinner-border" role="status"></span>
                }
            </button>
        </div> -->
    </div>


    <!-- <hr class="py-4"> -->

     <div class="">
        <h3><i class="fa fa-mobile"></i>Versement</h3>
        <p>
            Ce numéro sera utiliser pour recevoir de l'argent
        </p>
        <div class=" form-group col-md-5" [ngClass]="{'input-error': settlementType.errors && 
            (settlementType.touched || settlementType.dirty)}">
            <label for="">Mode de versement</label> <br>
           <select name="" id="" class="form-control" formControlName="settlementType">
            <option value="ON_DEMAND">A la demande</option>
            <option value="DAILY">Chaque jour</option>
            <option value="WEEKLY">Chaque Semaine</option>
            <option value="MONTHLY">Chaque Mois</option>
            <option value="QUARTERLY">Chaque Trimestre</option>
           </select>
            @if(settlementType.errors && settlementType.touched || settlementType.dirty) {
                <div>
                    @if(settlementType.hasError('required')) {
                        <small class="text-danger">Le mode de versement est obligatoire.</small>
                    }
                </div>
            }
        </div>
        <div class=" form-group col-md-5" [ngClass]="{'input-error': fundingNumber.errors && 
            (fundingNumber.touched || fundingNumber.dirty)}">
            <label for="">Numéro mobile money</label> <br>
            <input formControlName="fundingNumber" type="text" class="form-control col-md-3">
            @if(fundingNumber.errors && fundingNumber.touched || fundingNumber.dirty) {
                <div>
                    @if(fundingNumber.hasError('required')) {
                        <small class="text-danger">Le numéro mobile money est obligatoire</small>
                    }
                </div>
            }
        </div>
        <div>
            <button (click)="saveSettings()" class="btn btn-sm btn-primary">
                @if(!loading) {
                    Enregistrer les modifications
                }@else{
                    <span class="spinner-border" role="status"></span>
                }
            </button>
        </div>
    </div>
    </form>
</div>