<div class="wp-component py-4 px-3">
    <div class="d-flex justify-content-between align-items-center">

      <h2 class="wp-component-title mb-0">
        Liste des configurations de :
        <strong>{{ p1 }}</strong>
      </h2>

      <button class="btn btn-sm btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#paramForm" >
        <i class="fa fa-plus"></i> Nouveau paramètre
      </button>

    </div>
</div>


<div *ngFor="let item of configurations" class="card my-3 col-md-3 ">
  <div class="card-header">
        <div class="d-flex justify-content-between align-items-center" style="height: 50px;">
            <img [src]="getLogoUrl(item.name)" class="logoSize" alt="{{ item.name }}">
            <div class="dropdown action-dropdown" data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="left" data-bs-content="Actions">
                
                <button class="btn btn-sm" type="button" data-bs-toggle="dropdown"aria-expanded="false">
                    <i class="fa-solid fa-ellipsis-vertical"></i>
                </button>

                <ul class="dropdown-menu dropdown-menu-end py-1">
                    <li class="d-flex justify-content-center align-items-center border-bottom border-secondary-subtle">
                        <strong>Liste des actions</strong>
                        <hr>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="getConfig(item.providerId)"><i class="fa-solid fa-pen mx-2"></i> Modifier</a>
                    </li>
                    <li>
                        <a class="dropdown-item" (click)="getConfig(item.providerId)"><i class="fa-solid fa-circle-check mx-2"></i> Activer</a>
                    </li>
                    <li>
                        <a class="dropdown-item text-danger" (click)="getConfig(item.providerId)"><i class="fa-solid fa-x mx-2"></i>Désactiver</a>
                    </li>
                </ul>
            </div>
        </div>
  </div>
  <div class="card-body">   
        <p class="card-text mb-1">
          <strong>Nom :</strong> {{ item.name }}
        </p>
        <p class="card-text mb-1">
          <strong>Type :</strong> {{ item.providerType }}
        </p>
        <p class="card-text mb-1">
          <strong>ID :</strong> {{ item.providerId }}
        </p>
  </div>
</div>